<ion-view view-title="My Events">
  <ion-floating-button ng-click="newEvent()" has-footer="false" button-color="#33CD5F" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="e in getAll">

        <ion-option-button class="button-assertive icon ion-ios-trash-outline icon-only custom-icon" ng-click="deleteEvent(e.name,$index)">
        </ion-option-button>
        <ion-option-button class="button-positive icon ion-edit icon-only custom-icon" ng-click="setEvent($index)" UI-SREF="app.myEvent()">
        </ion-option-button>
        <ion-option-button class="button-royal icon ion-document icon-only custom-icon " ng-click="duplicate($index)">
        </ion-option-button>
        <ion-option-button class="button-energized icon ion-eye icon-only custom-icon" ng-click="setEvent($index);setState()" UI-SREF="app.previewEvent">
        </ion-option-button>

      {{e.name}}
        <i class="icon ion-arrow-left-c alignright"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
