<ion-view view-title="{{getEvent.name}}">
  <ion-floating-button click="myEvent()" has-footer="false" button-color="#33CD5F" icon="ion-plus" icon-color="#fff">
  </ion-floating-button>
  <ion-content>
    <div class="card">
      <div class="item item-text-wrap">
        Description: {{getEvent.description}}
      </div>
      <div class="item item-text-wrap">
        Join code: {{getEvent.JoinCode}}
      </div>
      <div class="item item-text-wrap">
        Location: ((location picker)){{getEvent.location}}
      </div>
      <div class="item item-text-wrap">
        Proximity: {{getEvent.proximity}} meters (participants will have to be within this radius to join the event)
      </div>
    </div>
    <ion-list>
      <ion-item ng-repeat="act in getEvent.activities" ng-click="setCur($index)" href="#/app/myActivity"">
      {{act.name}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
