<ion-view view-title="{{getEvent.name}}">

  <ion-content>
    <form editable-form name="editableForm" onaftersave="saveEvent()">
      <ion-floating-button ng-click="newAct();editableForm.$show()" has-footer="false" button-color="#33CD5F" icon="ion-plus" icon-color="#fff">
      </ion-floating-button>
    <div class="list card">
      <div class="item item-icon-left">
        <span class="title">Event Name: </span>
        <span editable-text="getEvent.name" e-name="name"
              e-required>{{ getEvent.name || 'empty' }}</span>
      </div>
      <div class="item item-icon-left">
        <span class="title">Description: </span>
        <span editable-text="getEvent.description" e-name="desc"
              e-required>{{ getEvent.description || 'empty' }}</span>
      </div>
      <div class="item item-icon-left">
        <span class="title">Join Code: </span>
        <span editable-text="getJoinCode"
              e-required>{{ "userID" + getJoinCode || 'empty' }}</span>
      </div>
      <div class="item item-icon-left">
        <i class="icon ion-ios-location"></i>
        Location: ((location picker)){{getEvent.location}}
      </div>
      <div class="item item-icon-left">
        <span class="title">Proximity </span>
        <span editable-select="getEvent.proximity" e-ng-options="p.value as p.text for p in proxies">
        {{ ( proxies | filter:{value: getEvent.proximity})[0].text || 'Not set' }}
      </span>
      </div>
    </div>

      <div class="button-bar">
        <!-- button to show form -->
        <button type="button" class="button button-positive" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
          Edit
        </button>
        <!-- buttons to submit / cancel form -->

        <button type="submit" class="button button-balanced" ng-disabled="editableForm.$waiting" ng-show="editableForm.$visible">
          Save
        </button>
        <button type="button" class="button button-assertive" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel();cancelSave()" ng-show="editableForm.$visible">
          Cancel
        </button>

      </div>
    </form>
    <ion-list show-reorder="editableForm.$visible">
      <ion-item ng-repeat="act in getEvent.activities" >
      <i class="icon ion-ios-arrow-left"></i>
        <ion-option-button class="button-assertive icon ion-ios-trash-outline icon-only custom-icon" ng-click="deleteAct(e.name,$index);editableForm.$show()">
        </ion-option-button>
      <ion-option-button class="button-positive icon ion-edit icon-only custom-icon" ng-click="setAct($index)" UI-SREF="app.myActivity()">
      </ion-option-button>
      <ion-option-button class="button-royal icon ion-document icon-only custom-icon " ng-click="duplicate($index);editableForm.$show()">
      </ion-option-button>
      <ion-option-button class="button-energized icon ion-eye icon-only custom-icon" ng-click="setAct($index); setState()" UI-SREF="app.previewActivity()">
      </ion-option-button>


      {{act.name}}
        <ion-reorder-button class="ion-navicon"
                            on-reorder="moveItem(act,$fromIndex, $toIndex)">
        </ion-reorder-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
