/* Empty. Add your own CSS if you like */
.custom-icon {

  color : black !important;
}

form[name="editableForm"] > div {
  height: auto;
  padding: 5px 0;
}

form[name="editableForm"] .title {
  display: inline-block;
  font-weight: bold;
  padding-top: 5px;
  vertical-align: top;
  min-width: 90px;
}

form[name="editableForm"] .editable {
  display: inline-block;
  padding-top: 5px;
  vertical-align: top;
}

form[name="editableForm"] select {
  width: 120px;
}
form[name="editableForm"] textarea {
  width: 500px;
}
form[name="editableForm"] text {
  width: 500px;
}
